@use '../mixins' as *;

.header {
  background-color: var(--clr-panels);
  font-size: var(--font-nav-icons);
  color: var(--clr-font-primary);

  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
  }

  &__left {
    display: flex;
    align-items: center;
  }

  &__right {
    display: flex;
    gap: 20px;
  }

  &__logo {
    display: none;
    font-size: 40px;
    margin-right: 20px;

    @include md {
      display: block;
    }
  }
}
