@use '../mixins' as *;

.navigation {
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.3);
  width: 100%;
  height: 100%;
  font-size: 25px;
  transition: all 500ms;

  &__menu {
    display: flex;
    flex-direction: column;
    gap: 10px;
    height: calc(100% - 60px);
    background-color: var(--clr-panels);
    width: 250px;
  }

  &__link {
    display: flex;
    padding: 12px 20px;
    border-left: 3px solid transparent;

    &:hover {
      background-color: var(--clr-body);
      border-left: 4px solid var(--clr-select);
    }
  }

  &__heading {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 60px;
    padding: 10px 20px;
    width: 100%;
    background-color: var(--clr-panels);
    width: 250px;
  }

  &__close {
    cursor: pointer;
    font-size: var(--font-nav-icons);
  }

  &__trigger {
    cursor: pointer;
  }

  // MEDIA QUERIES
  @include md {
    position: static;

    &__heading {
      display: none;
    }

    &__close {
      display: none;
    }

    &__menu {
      flex-direction: row;
      width: 100%;
      height: 100%;
    }

    &__trigger {
      display: none;
    }

    &__link {
      display: flex;
      padding: 0 20px;
      border-left: none;

      &:hover {
        background-color: var(--clr-body);
        border-left: none;
      }
    }
  }
}

// navigation close state
.navigation--closed {
  transform: translateX(-100%);
  visibility: hidden;
  opacity: 0;

  @include md {
    transform: translateX(0);
    visibility: visible;
    opacity: 1;
  }
}
